* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #585858;
  background-color: rgb(36, 35, 35);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

/* Spacing */
.margin-top {
  margin-top: 1rem;
}

.padding-right {
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: var(--secondary-color);
}

input,
select,
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}


.text-center {
  text-align: center;
}
